.page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    .mapContainer {
        width: calc(50% - 50px);
        height: auto;
    }
}
