.infoContainer {
    width: calc(50% - 50px);
    height: auto;
    padding: 8px 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    button {
        align-self: center;
        padding: 8px 20px;
        border: none;
        border-radius: 5px;
        background-color: #afafaf;
        color: white;
    }
}
